.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  padding: 1rem;
}

.auth-card {
  background-color: var(--surface-color);
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--border-color);
  text-align: center;
}

.auth-logo {
  font-size: 3rem;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
  display: block;
  padding-left: 175px;
}

.auth-title {
  font-size: var(--font-h2);
  color: var(--text-primary);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.auth-subtitle {
  color: var(--text-secondary);
  font-size: var(--font-small);
  margin-bottom: 2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-size: var(--font-small);
  font-weight: 500;
  color: var(--text-primary);
}

.form-group input {
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  /* font-size: var(--font-body-main); */
  background-color: var(--bg-color);
  transition: border-color 0.2s;
}

.form-group input:focus {
  outline: none;
  border-color: var(--accent-color);
  background-color: #fff;
}

.auth-btn {
  background-color: var(--accent-color);
  color: #fff;
  padding: 0.75rem;
  border-radius: 4px;
  font-weight: 600;
  margin-top: 1rem;
  transition: background-color 0.2s;
}

.auth-btn:hover {
  background-color: var(--accent-hover);
}

.auth-footer {
  margin-top: 1.5rem;
  font-size: var(--font-small);
  color: var(--text-secondary);
}

.auth-link {
  color: var(--accent-color);
  font-weight: 600;
  cursor: pointer;
}

.auth-link:hover {
  text-decoration: underline;
}